.posts {
  &__content {
    @media only screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 1rem;
    }

    @media only screen and (min-width: 1200px) {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: 2rem;
    }
  }
}
